/* .box {
  width: 50px;
  height: 50px;
  background: #F4989C;
} */
#box1 {
  position: relative;
}
.box1-thumbnail {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #F4989C;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  user-select: none;
}
.box1-main {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
  background: #F4989C;
  text-align: center;
  line-height: 100px;
  user-select: none;
}
.box1 {
  border-radius: 5%;
  animation-name: box1-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes box1-animation {
  0% {
    transform: none;
  }
  100% {
    border-radius: 50%;
  }
}
.box1-transition {
  cursor: pointer;
  transition-property: border-radius;
  transition-duration: 1s;
}
.box1-transition-animation {
  border-radius: 50%;
}


#box2 {
  position: relative;
}
.box2-thumbnail {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #F4989C;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  user-select: none;

  border-radius: 5%;
  animation-name: box2-animation1;
  animation-duration: 2s;
  animation-iteration-count: infinite
}
.box2-main-anime {
  /* margin-top: 100px; */
  max-width: 50px;
  max-height: 50px;
  background: #F4989C;
  text-align: center;
  line-height: 50px;
  user-select: none;
  border-radius: 5%;

}
.box2 {
  animation-name: box2-animation2;
  animation-duration: 2s;
  animation-iteration-count: infinite
}
@keyframes box2-animation1 {
  0% {
    transform: translate(-30px, -30px);
  }
  100% {
    transform: translate(30px, 30px);
  }
}
@keyframes box2-animation2 {
  0% {
    /* transform: translate(-80px, -80px); */
  }
  100% {
    /* transform: translate(80px, 80px); */
    transform: translate(120px, 120px);
  }
}
.box2-main {
  /* margin-top: 100px; */
  max-width: 50px;
  max-height: 50px;
  background: #F4989C;
  text-align: center;
  line-height: 50px;
  user-select: none;
  border-radius: 5%;
}
.box2-transition {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 1s;
}
.box2-transition-animation {
  /* border-radius: 50%; */
  transform: translate(120px, 120px);
}

/* .box1-animation {
  transition-property: border-radius;
  transition-duration: 1s;
}
.box1-animation-add {
  border-radius: 50%;
} */