/* body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
} */
body {
  max-height: 100vh;
}

/* 画面に枠線を付けます。 */
html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #F4989C;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 5px; 
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 5px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 5px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 5px;
  height: 100vh;
  top: 0;
  left: 0;
}
/* 枠線 end */

header {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  /* margin-top: 50px; */
  /* margin-left: 100px; */
  /* margin-bottom: 100px; */
}
header .menu {
  margin-right: 100px;
}
body {
  font-family: 'Roboto Slab', serif;
}
h1 {
  color: #686464d5;
}
main {
  /* min-height: 100vh;  */
  min-width: 1000px;
  background: #fff;

  /* mainの中は上下左右中央揃えにします。 */
  display: flex;
  justify-content: center;
  align-items: center
}
.wrapper {
  padding: 20px;
}
.container {
  max-width: 900px;
  min-height: 90%; 
  /* background: #3aacad; */
  /* background: whitesmoke; */
  /* margin: 150px; */
}

/* Gridの設定 */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 100px);
}
.grid .item {
  width: 100px;
  height: 100px;
  /* background: whitesmoke; */
  background: #3aacad;
  opacity: .6;
  cursor: pointer;
}
.grid .item:hover {
  opacity: 1;
}
.grid .big-item {
  width: 220px;
  height: 220px;
  opacity: 1;
  grid-column: 1 /3;
  grid-row: 1 / 3;
}
/* Gridの設定 end */

/* ポップアップ画面 */
.overlay {
  position: fixed;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
  /* background: rgba(255, 255, 255, 0.95); */
  background: #3aacad;
  text-align: center;
  padding: 64px;
  opacity: 0; /* 非表示 */
  transform: translateY(20px);
  transition: opacity .3s, transform .3s;
  pointer-events: none; /* ポップアップを非表示にした後で、後ろの文字が選択できるようにします。 */
  transition: opacity .6s;
}
/* .overlay .overlay-container {
  margin: 0;
  padding: 0;
} */

.overlay .overlay-layout {
  margin: 10px auto;
  max-width: 900px;
}

.overlay .title {
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  height: 80px;
  margin: 10px 10px;
  /* margin-left: 80px; */
  /* margin-bottom: 20px; */
}

.overlay .overlay-container .box {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;

  min-width: 210px;
  height: 400px;
  margin: 0 20px 0 0;
}
.overlay .overlay-container .box .box-click {
  position: relative;
}
.overlay .overlay-container .box .box-click .click-here {
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 30px;
  left: 50px;
  background: #fff;
  width: 100px;
  height: 50px;
  border-radius: 8%;
  user-select: none;
  animation-name: click-here-animation;
  animation-duration: .4s;
  animation-iteration-count: infinite
}
@keyframes click-here-animation {
  0% {
    opacity: .3;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: .7;
  }
}
.overlay.show .overlay-container .box {
  opacity: 1;
  transform: none;
  transition-delay: .4s;
}

.overlay .overlay-container .codebox {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;

  width: 500px;
  height: 400px;
  margin: 0 20px 0 0
}
.overlay.show .overlay-container .codebox {
  opacity: 1;
  transform: none;
  transition-delay: .6s;
}
/* .overlay.show .overlay-container .code2 {
  opacity: 1;
  transform: none;
  transition-delay: .8s;
} */
.overlay .close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
  transform: none;
  transition-delay: .2s;
}
.overlay .overlay-container {
  margin: auto;
  display: flex;
  justify-content: center; /* 開始位置を配置。中央揃え*/
  align-items: center; /* 親要素の開始位置から配置。上揃え。*/
  margin-bottom: 50px;
}




/* .overlay .overlay-container .code2 {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;

  width: 500px;
  height: 400px;
  margin: 0 20px 0 0;
} */
.overlay .overlay-container .explanation {
  text-align: left;
}
.overlay .overlay-container .code-format {
  height: 400px;
}
/* .overlay .overlay-container .box {
  min-width: 210px;
  height: 600px;
  margin: 0 20px 0 0;
} */
/* .overlay .overlay-container .code1 {
  width: 500px;
  height: 600px;
  margin: 0 20px 0 0;
} */
/* .overlay .overlay-container .code2 {
  width: 500px;
  height: 600px;
  margin: 0 20px 0 0;
} */


/* ポップアップ画面 end */